<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
   
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .h1{
       background :teal;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
       <img src="logo.jpg" class="img-responsive" style="width:100%" alt="Logo">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Anniversary</a></li>
        <li><a href="#">Occasions</a></li>
        <li><a href="#">Birthdays</a></li>
        <li><a href="#">Men</a></li>
        <li><a href="#">Women</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="w3-container w3-teal">
<i><center><b><large><h1>Anniversary Gifts</h1></center></large></b></i>
</div>      
    
 
</div>
  
<div class="container-fluid bg-3 text-center">    
  
  <div class="row">
    <div class="col-sm-3">
      
      <img src="sportsbag.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h2>bag</h2>
    </div>
    <div class="col-sm-3"> 
      
      <img src="sportsshoes.jpeg" class="img-responsive" style="width:85%" alt="Image">
      <h2>shoes</h2>
    </div>
    <div class="col-sm-3"> 
     
      <img src="sportswatch.jpg" class="img-responsive" style="width:100%" alt="Image">
      <h2>watches</h2>
    </div>
    
  </div>
</div><br>




</body>
</html>
