<!DOCTYPE Html>
<html>
    <head> 
        <title>{% block title %}Sportsmen{% endblock %}</title>
    </head>
    <body> 
        <table>   
        <tableborder="1">
            {% block content %}
            {% for i in prop %}
            <tr><td>
                {% load static %}
                <img src = "{% get_media_prefix %}giftsapp/index.jpeg"></td>
            </tr>
            <tr>
                <td>{{i.qty}}</td>
            </tr>
            <tr>
                <td>{{i.color}}</td>
            </tr>
            <tr>
                <td>{{i.imgname}}</td>
            </tr>
            <tr>
                <td>{{i.reviews}}</td>
            </tr>
            <tr>
                <td>{{i.cost}}</td>
            </tr>
            {% endfor %}
            {% endblock %}         
        </table>
    </body>
</html>
